[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = chann
	email = chann@chann.dev
	signingkey = EC9A01F394E0A778
[core]
	excludesfile = /Users/chann/.gitignore_global
	editor = vim
	# pager = diff-so-fancy | less --tabs=4 -RFX
	pager = delta
	quotepath = false
[alias]
	cm = commit -m
	co = checkout
	sw = switch
	# lg = log --decorate --oneline --graph --all
	lg = log --all --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	p = pull
	po = pull origin
	f = fetch
	poo = push origin
	st = status
	df = diff
	dfc = diff --cached
	unadd = reset HEAD

[diff]
	compactionHeuristic = true
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	conflictStyle = zdiff3
[mergetool "vscode"]
	cmd = code --wait $MERGED
[interactive]
	# diffFilter = diff-so-fancy --patch
	diffFilter = delta --color-only
[commit]
	gpgsign = true
[hub]
	protocol = https
[credential]
	helper = cache --timeout=2419200
[tag]
	forceSignAnnotated = true
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
