[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = CHANN
	email = chann@chann.kr
	signingkey = EC9A01F394E0A778
[core]
	excludesfile = /Users/chann/.gitignore_global
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	cm = commit -m
	co = checkout
	# lg = log --decorate --oneline --graph --all
	lg = log --all --graph --pretty=format:'%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	p = pull
	po = pull origin
	f = fetch
	poo = push origin
	st = status
	df = diff
	dfc = diff --cached
	unadd = reset HEAD

[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[commit]
	gpgsign = true
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
