/* linkhint boxes */
div > .vimiumHintMarker {
  background: #303030;
  border: 1px solid #000;
}

/* linkhint text */
div > .vimiumHintMarker span {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

/* matched linkhint text */
div.internalVimiumHintMarker > .matchingCharacter {
  color: yellow;
}

